---
- name: Set default path
  ansible.builtin.set_fact:
    inventory_directory: ./inventory
  when: inventory_directory is not defined

- name: Get list of SOT files
  ansible.builtin.find:
    paths: "{{ inventory_directory }}/host_vars/{{ inventory_hostname }}"
    recurse: false
    patterns: "*.yaml"
    file_type: file
  register: found_directories

- name: Set state as overridden to restore config
  ansible.builtin.set_fact:
    state: overridden
  when: state is not defined

- name: Rectify drift
  ansible.builtin.include_tasks: includes/configure.yaml
  loop: "{{ found_directories.files }}"
  loop_control:
    label: "{{ item.path | basename }}"
