---
- name: Resolve inventory
  ansible.builtin.include_tasks: includes/inventory.yaml

- name: Retrieve a repository from a distant location and make it available locally
  ansible.builtin.include_tasks: includes/retrieve.yaml
  when: data_store.scm is defined

- name: Include file write task
  ansible.builtin.include_tasks: includes/inventory.yaml

- name: Get list of files
  ansible.builtin.find:
    paths: "{{ inventory_path }}/host_vars/{{ inventory_hostname }}"
    recurse: false
    patterns: "*.yaml"
    file_type: file
  register: resource_manager_found_directories

- name: Include configure task
  ansible.builtin.include_tasks: includes/configure.yaml
  loop: "{{ resource_manager_found_directories.files }}"
  loop_control:
    loop_var: file
    label: "{{ file.path | basename }}"
